<div class="carousel" data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
	{{#if items}}
		{{#times items}}
		<div class="carousel__item">
			{{PlaceholderImage 1200 500}}
		</div>
		{{/times}}
	{{else}}
		{{#times 5}}
		<div class="carousel__item">
			{{PlaceholderImage 1200 500}}
		</div>
		{{/times}}
	{{/if}}
</div>
