<div class="carousel" data-flickity='{"wrapAround": true, "imagesLoaded": true}'>
	<div class="carousel__item">
		<img src="http://satyr.io/1600x600/1" alt="">
	</div>
	<div class="carousel__item">
		<img src="http://satyr.io/1600x600/2" alt="">
	</div>
	<div class="carousel__item">
		<img src="http://satyr.io/1600x600/3" alt="">
	</div>
	<div class="carousel__item">
		<img src="http://satyr.io/1600x600/4" alt="">
	</div>
	<div class="carousel__item">
		<img src="http://satyr.io/1600x600/5" alt="">
	</div>
</div>
