
<div class="carousel carousel--xx" data-flickity='{"wrapAround": true, "imagesLoaded": true, "groupCells": true, "autoPlay": 5000, "prevNextButtons": false, "pageDots": false}'>
	{{#times 20}}
	<div class="carousel__item">
		{{PlaceholderImage 300 75}}
	</div>
	{{/times}}
</div>

